
body {
    font-size: 12pt;
    font-family: "courier new", "sans serif";
}

.nonvegan{
    color: brown;
}
.lactos{
    color: grey;
}
.spicy{
    color: red;
}
#caloriebomb{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(139, 0, 0);
}
#info{
    background-color: rgb(44, 44, 44);
    color: white;
}
button:hover {
   background-color: black;
}
button{
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
    cursor: grab;
}
#clickable{
    cursor: not-allowed;
}
.burgerdiv{
    display: inline-block;
    margin:3%;
}
#burgers{
    margin-left:2%;
    margin-right: 2%;
    padding: 1%;
    border: 2px dashed;
    border-color: rgb(0, 0, 0);
}


#info{
    margin-left:2%;
    margin-right: 2%;
    padding:1%;
    border: 2px dashed;
    border-color: rgb(255, 255, 255);
}



#header{
    height: 200px;
    background-image: url(../../headerburger.jpg);
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;

}

#headertext{
    color: black;
}

.wrapper{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.box {
    background-color: orange;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: center;
}
.a { }
.b { }
.c { }